#home {
    display: inline-block;
    min-height: calc(100vh - 91px);
    position: relative;
    vertical-align: top;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.card {
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background-color: #3f3f3f;
    text-align: justify;
    margin: 15px;

    position: relative;
}


.card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #daa520;
    border-right: 20px solid #daa520;
}


.icon {
    margin-bottom: 20px;
}

.icon img {
    width: 250px;
}

/** Content **/
.content {
    height: 215px;
    overflow: hidden;
    position: relative;
    color: #ffffff;
}

.content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #3f3f3f);
}

.content h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    position: relative;
}

.content h3::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #3f3f3f;
    bottom: 4px;
    border-radius: 100px;
}

.content p {
    color: #b7b7b7;
}

/** Read More/Less Button **/
#read_button {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: #daa520;
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_button:hover {
    background-color: transparent;
    color: #daa520;
    transition: all 0.2s ease-in-out;
}



/** Active **/
.card.active .content {
    height: auto;
}

.card.active .content::before {
    visibility: hidden;
}


.description {
    color: #000000;
}

.tag {
    padding: 4px 8px;
    border: 1px solid #E5EAED;

    border-radius: 50px;
    font-size: 12px;
    font-weight: 600px;
    color: #788697
}

.name {
    font-size: 24px;
    font-weight: 600;

    margin-top: 16px;
}

p {
    font-size: 14px;
    color: #7F8C9B;
    line-height: 150%;
}


#cta .title {
    font-size: 4rem;
    color: #daa520;
}

#cta .title span {
    color: var(--color-primary-6);
}

#cta .description {
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold
}

#cta_buttons {
    display: flex;
    gap: 24px;


}

#cta_buttons a {
    text-decoration: none;
    color: #ffd700;
    background-color: #3f3f3f;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}