#menu {
    background-image: url(../images/fundo\ preto.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
}

.video-thumbnail {
    position: relative;
    display: flex;
    width: 400px;
    /* Ajuste o tamanho conforme necessário */
    height: 225px;
    /* Ajuste o tamanho conforme necessário */
}

.section-subtitle {
    color: #daa520;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;


}



.subtitulo {
    color: #ffffff;
    margin-bottom: 50px;
    text-align: center;
}

#videos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

@media screen and (max-width: 1170px) {
    #videos {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        display: flex;
    }

}

.player {
    aspect-ratio: 16/9;
    width: 100%;

}

.video-thumbnail {
    width: 100%;



}

@media screen and (max-width: 600px) {
    .video-thumbnail {
        width: 100%;
        flex-direction: column;
        display: flex;

    }

    #menu .section-subtitle {
        text-align: center;
    }
}